/*estilo da cifra*/
#tradu {

    font-size: 15px;
    margin: auto;
   width: 570px;
    box-shadow: 2px 5px 15px black;
    border: 2px solid rgba(0, 0, 0, 0.307);
    
}

/*estilos dos botôes*/
.button {
    font-size: 17px;
    width: 90px;
    height: 35px;
    background-color: rgba(17, 88, 165, 0.77);
    color: rgb(255, 255, 255);
    border-radius: 8px;

}

/*aqui deixei os botôes fixos */
#idioma {
     border-radius: 10px;
    position: fixed;
    background-color: rgb(213, 226, 238);
    width: 450px;
    top: 0;
    left: 0;
    padding: 10px;

}
/*para que a cifra fique mais em baixo*/
body {
    padding: 150px;
}